data/
*.parquet
*.csv
*.log
.DS_Store
.ipynb_checkpoints/
__pycache__/

*.json
*.json
# Ignore generated experiment results
results/
results_cloud/
results_rf_full/
results_xgb_full/
rf_results_final/
xgb_results/
**/predictions_csv/
**/metrics_csv/
**/feature_importance_csv/
**/figures/
**/plots/
*.csv.crc
*.crc
*.zip
src/results/
# big / generated stuff we do NOT want in git
results/
results_cloud/
results_rf_full/
results_xgb_full/
rf_results_final/
xgb_results/
src/results/
data/
**/predictions_csv/
**/metrics_csv/
**/feature_importance_csv/
**/figures/
**/plots/
*.json
*.parquet
*.crc
*.zip
